In [53]:
import pandas as pd
from faker import Faker
fake = Faker('es_AR')

class BuildDataframe:

    def __init__(self):
        self.fake = Faker('es_AR')
        Faker.seed(4321)
        self.dictionary_df = {}
        self.n_rows = 10
        self.df = pd.DataFrame(data=self.dictionary_df)


    def id_clients(self):
        # Simulando un rut "Chileno": Generación de IDS
        list_ids = [self.fake.random_number(digits=8, fix_len=True) for _ in range(0, self.n_rows)]
        #Imputo diccionario con nombre de la función
        self.dictionary_df[self.id_clients.__name__] = list_ids
        self.df = pd.DataFrame(self.dictionary_df)
        

    def nombre(self):
        # Simulando un rut "Chileno": Generación de IDS
        list_ids = [self.fake.name() for _ in range(0, self.n_rows)]
        #Imputo diccionario con nombre de la función
        self.dictionary_df[self.nombre.__name__] = list_ids
        self.df = pd.DataFrame(self.dictionary_df)
    
    def nombre(self):
        # Simulando un rut "Chileno": Generación de IDS
        list_ids = [self.fake.name() for _ in range(0, self.n_rows)]
        #Imputo diccionario con nombre de la función
        self.dictionary_df[self.nombre.__name__] = list_ids
        self.df = pd.DataFrame(self.dictionary_df)
    
    def banco(self):
        # Simulando un rut "Chileno": Generación de IDS
        list_ids = [self.fake.bank() for _ in range(0, self.n_rows)]
        #Imputo diccionario con nombre de la función
        self.dictionary_df[self.banco.__name__] = list_ids
        self.df = pd.DataFrame(self.dictionary_df)

    def main(self):
        self.id_clients()
        self.nombre()
        self.banco()


#    def id_clients(self):
#        list_ids = [fake.random_number(digits=8, fix_len=True) for _ in range(0, self.n_rows)]
#        self.dictionary_df[self.id_clients.__name__] = list_ids

In [54]:
build_df = BuildDataframe()
build_df.main()
build_df.df

,id_clients,nombre,banco
0,44129013,Sr(a). Pilar Ramirez,Banco Hipotecario S. A.
1,17491062,Lola Thiago Joaquin Benitez,Banco de Inversión y Comercio Exterior (BICE)
2,64696111,Tomàs Juan Ignacio Fernandez,Banco de la Provincia de Buenos Aires
3,18527831,Lautaro Ezequiel Lara Velazquez,Banco de Galicia y Buenos Aires
4,33751065,Lucas Lorenzo Diaz,Industrial And Commercial Bank Of China
5,96046736,Dr(a). Santiago Martinez,Banco Santander
6,59046838,Pedro Santino Vargas Perez,Banco Santander
7,25230943,Santiago Emma Rodriguez,HSBC Bank Argentina
8,15690814,Camila Facundo Torres Dominguez,Banco Credicoop
9,34951264,Thiago Leonel Garcia,Banco de Galicia y Buenos Aires

In [74]:
## Version Mejorada

class BuildDataframe:

    def __init__(self):
        self.fake = Faker('es_AR')
        Faker.seed(4321)
        self.dictionary_df = {}
        self.n_rows = 10
        self.df = pd.DataFrame(data=self.dictionary_df)

    def add_column(self, column_name, func):
        """ Metodo general que hace append de una nueva columna """
        list_data = [func() for _ in range(self.n_rows)]
        self.dictionary_df[column_name] = list_data
        self.df = pd.DataFrame(self.dictionary_df)

    def generate_dataframe(self):
        # Requiere el lambda porque tiene parámetros, pero al usar lambda llega una función anonima para ser ejecutada por add_column
        self.add_column('Id_clients', lambda: self.fake.random_number(digits=8, fix_len=True))
        self.add_column('Banco', self.fake.bank)
        self.add_column('User Name', self.fake.user_name)
        self.add_column('Peliculas Vistas en el Mes', self.fake.random_digit_not_null)
        self.add_column('Series en el Mes', self.fake.random_digit_not_null)

    def main(self):
        self.generate_dataframe()
        return self.df

In [75]:
df = BuildDataframe().main()
df

,Id_clients,Banco,User Name,Peliculas Vistas en el Mes,Series en el Mes
0,44129013,Banco Comafi,tomasgomez,5,2
1,17491062,Banco Santander,simoncardozo,8,9
2,64696111,Banco Hipotecario S. A.,lucas-ezequiel38,9,1
3,18527831,Industrial And Commercial Bank Of China,lorenzo39,2,7
4,33751065,Banco Supervielle,odiaz,2,9
5,96046736,BSE - Banco Santiago del Estero,pedro11,5,7
6,59046838,Banco Ciudad de Buenos Aires,valentina33,1,6
7,25230943,Banco de la Provincia de Córdoba,emma14,1,9
8,15690814,Banco Supervielle,rcastillo,4,2
9,34951264,Nuevo Banco de Santa Fe,maximo61,5,4